# .env template
# Uncomment and assign a value to override default behavior
#
# DB_NAME=<NAME HERE>                               # Optional, fallback to "postgres" (native PostgreSQL behavior)
# DB_USER=<USER NAME HERE>                          # Optional, fallback to "postgres" (default superuser)
# PG_HOST_DB_PORT=<PORT HERE>                       # Optional, fallback to 5432 (standard PostgreSQL port, host side only)
# PG_VERSION=<PG VERSION HERE>                      # Optional, fallback to 18.1
# PG_DATA_SUFFIX=/data                              # Required if you are using a PG VERSION prior to 18
DB_DATA_PATH=<ABSOLUTE PATH HERE>                   # Required, no fallback possible
DB_PASSWORD=<DB USER PASSWORD HERE>                 # Required, no fallback possible
